<div class="footer">
    <div class="pull-right">
        Powered By Ecom Software Ltd
    </div>
    <div>
        <strong>Copyright</strong> @*@{Html.RenderAction("CompanyNameSimple", new { controller = "Shared", area = "" });}*@ &copy; @DateTime.Now.Year
    </div>
</div>