@*@model Boolean

@@*Html.LabelFor(m => m, new { @class = "m-b-none" })
@Html.DescriptionFor(m => m)
<div class="input-group">
    @Html.CheckBox("", Model, new { @class = "checkbox i-checks" })
</div>*@