<div class="" >
    <div class="row wrapper border-bottom white-bg page-heading" style="padding: 0px 10px 10px 10px;" >
        <div class="col-12">
            <h2 style="font-size:19px;font-weight: 400;margin-top: 10px;margin-bottom: 10px;">@ViewBag.Title</h2>
            <breadcrumb></breadcrumb>
        </div>
    </div>
</div>