@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@*<h2>@ViewData["Title"]</h2>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>*@

@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@

<div class="passwordBox animated fadeInDown">
    <div class="row">
        <div class="col-md-10">
            <div class="ibox-content">
                <h2 class="font-bold">Forgot Password?</h2>
                <p>Enter your email address and you will receive an email to change your password.</p>
                <div class="row">
                    <div class="col-md-12">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="form-group">
                                <input asp-for="Input.Email" class="form-control" placeholder="Email Address" />
                                <span asp-validation-for="Input.Email" class="validation-message"></span>
                            </div>
                            <!-- TODO: Get site key! -->
                            <div class="form-group">
                                <div class="g-recaptcha">Google Captcha goes here</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
